@model Sortingtime.ViewModels.ForgotPasswordViewModel

@{
	ViewBag.Title = @Html.Trans("AUTH.FORGOT_PASSWORD");
}

<div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-10">
        @using (Html.BeginForm("ForgotPassword", "Account", Html.RouteCulture(), FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
        {
            <h3>@ViewBag.Title</h3>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, Html.Trans("AUTH.EMAIL"), new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group form-group-button">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-default btn-primary" value="@Html.Trans("AUTH.SEND_RESET_LINK")" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 space-top">
                    @Html.ActionLink(Html.Trans("AUTH.LOGIN"), "Login", Html.RouteCulture()) @Html.Trans("AUTH.IF_REMEMBER_PASSWORD")
                </div>
            </div>}
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ScriptsPartial"); }
}


